:root {
    border-color: black;
}

h1 {
    text-align: center;
    color: white;
    background-image: linear-gradient(to right, blue, purple);
}

h2,
h3 {
    font-size: x-large;
}

h4 {
    font-size: medium;
}

section {
    font-size: x-large;
}

/* Everything on the left side of the page */
#left-page {
    float: left;
    width: 350px;
    border: 2px;
}

#search-box {
    width: 200px;
}

#search-btn {
    width: 170px;
    height: 20px;
    background-color: blue;
    color: white;
}

#history {
    font-size: large;
    height: 400px;
}

/* Everything on the right side of the page */
#right-page {
    margin-left: 350px;
}

#display-weather {
    text-align: center;
    margin-bottom: 3px;
}

#current-weather {
    width: 100%;
    text-align: center;
}

#display-forecast {
    text-align: center;
}

#display-forecast-list {
    padding: 0;
    list-style-type: none;
}

#display-forecast-list li {
    width: 15%;
    display: inline-block;
    margin: 0 2%;
}

#history-list {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#history-list button {
    margin: 3px;    
    text-align: left;
    margin-left: auto;
}