:root {
    border-color: black;
}

h1 {text-align: center;
    color: white; 
    background-image: linear-gradient(to right, blue , purple);
}

h2 {
    font-size: x-large;
}

section {font-size: x-large;
}


/* Everything on the left side of the page */
#left-page {
    float: left;
    width: 350px;
    border: 2px;
}

#search-box {
    width: 200px;
}

#search-btn {
    width: 170px;
    height: 20px;
    background-color: blue;
    color: white;
}

#history {
    font-size: large;
    height: 400px;
}

/* Everything on the right side of the page */
#right-page {
    margin-left: 350px;
    border: 2px;
    /* Set the margin to match the width of the left side */
}

#display-weather,
#display-forecast {
    display: block;
    margin-top: 20px;
    border: 2px;
}

#history-list button {
    display: flex;
    flex-direction: column;
    width: 170px;
    height:35px;
    margin-left: 0px;
    margin-top: 0px;
    justify-content: center;
}

#history-list {
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 0px;
    border: 2px;
}